{% load i18n %}
{% load static %}

<div class="table-responsive">
    <table class="table table-sm" id="table_datos_por_semana">
      <thead>
        <tr class="green_line">
          <th></th>
          <th scope="col">{% trans 'Semana'%}</th>
          <th scope="col">{% trans 'Recibidas' %}</th>
          <th scope="col">{% trans 'Atendidas' %}</th>
          <th scope="col">{% trans 'No Atendidas' %}</th>
          <th scope="col">{% trans 'Abandonadas' %}</th>
          <th scope="col">{% trans 'Transferidas' %}</th>
          <th scope="col">{% trans '% Atendidas' %}</th>
          <th scope="col">{% trans '% No Atendidas' %}</th>
          <th scope="col">{% trans 'Espera Media' %}</th>
          <th scope="col">{% trans 'Duración Media' %}</th>
        </tr>
      </thead>
        <tbody>
            {% for semana, datos_semana in reportes.distribuciones_generales.datos.por_semana.items %}
            <tr>
                 <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_distribucion_por_semana{{ forloop.counter }}" id="more_info"> + </button> </td>
                 <td>{{ semana }}</td>
                 <td>{{ datos_semana.recibidas }}</td>
                 <td>{{ datos_semana.atendidas }}</td>
                 <td>{{ datos_semana.no_atendidas }}</td>
                 <td>{{ datos_semana.abandonadas }}</td>
                 <td>{{ datos_semana.transferidas }}</td>
                 <td>{{ datos_semana.porcentaje_atendidas|floatformat:2 }}</td>
                 <td>{{ datos_semana.porcentaje_no_atendidas|floatformat:2 }}</td>
                 <td>{{ datos_semana.espera_media|floatformat:-2 }}</td>
                 <td>{{ datos_semana.duracion_media|floatformat:-2 }}</td>
            </tr>
            {% empty %}
                <tr empty_table="empty">
                    <td></td>
                    <td colspan="10">{% trans 'No hay Distribucion por mes' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if reportes.general_llamadas.datos.llamadas_procesadas > 0 %}
  <div class="col-md-12">
    <h3>{% trans 'Llamadas según atención' %}</h3>
    <div class="graficos-avances">
      <figure>
        {{ graficos.distribuciones_generales.por_semana.render_unicode|safe }}
      </figure>
    </div>
  </div>
{% endif %}


{% for semana, datos_semana in reportes.distribuciones_generales.datos.por_semana.items %}
<div class="modal" id="modal_distribucion_por_semana{{ forloop.counter }}">
    {% include "distribucion/modal_llamadas.html" with llamadas=datos_semana.llamadas origin="por_semana" identificador=semana %}
</div>
{%endfor%}
