{% load i18n %}
    <div class="modal-dialog" role="document" id="modal_width">
        <div class="modal-content">
          <div class="table-responsive">
            <table class="table table-sm"  grupo="table_modal_llamadas" categoria="{{ origin }}" identificador="{{ identificador }}">
              <thead>
                <tr>
                  <th scope="col">{% trans 'Fecha'%}</th>
                  <th scope="col">{% trans 'Telefono'%}</th>
                  <th scope="col">{% trans 'Id Campaña'%}</th>
                  <th scope="col">{% trans 'Campaña'%}</th>
                  <th scope="col">{% trans 'Tipo'%}</th>
                  <th scope="col">{% trans 'Agente ID'%}</th>
                  <th scope="col">{% trans 'Agente'%}</th>
                  <th scope="col">{% trans 'Username Agente'%}</th>
                  <th scope="col">{% trans 'Tiempo Espera'%}</th>
                  <th scope="col">{% trans 'Duración'%}</th>
                  <th scope="col">{% trans 'Causas Desconexión'%}</th>
                  <th scope="col">{% trans 'Calificación'%}</th>
                  <th scope="col">{% trans 'grabación'%}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
    </div>