
{% load i18n %}

{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans 'Reportes Generales' %}</h1>
    </div>
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <tr class="green_line">
            <td><h3>{% trans 'Reporte Generado' %}</h3></td>
            <td>{{ reportes.general_llamadas.datos.fecha|date:'Y-m-d H:i:s' }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Campañas' %} </h3></td>
            <td>{{ reportes.general_llamadas.datos.campanas|join:', ' }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Fecha inicial del periodo' %}</h3></td>
            <td>{{ reportes.general_llamadas.datos.fecha_inicial|date:'Y-m-d' }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Fecha final del periodo'%}</h3></td>
            <td>{{ reportes.general_llamadas.datos.fecha_final|date:'Y-m-d' }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Días de la semana'%}</h3></td>
            <td>
              {{ reportes.general_llamadas.datos.dias_de_la_semana|join:', ' }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Franjas horarias'%}</h3></td>
            <td>
            {% for franja in reportes.general_llamadas.datos.franjas_horarias%}
            <div>{{ franja.0 }} - {{ franja.1 }}</div> 
            {% endfor%}
            </td>
          </tr>
          <tr>
            <td><h3>{% trans 'Total de llamadas procesadas' %}</h3></td>
            <td>{{ reportes.general_llamadas.datos.llamadas_procesadas }}</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Porcentaje atendidas' %}</h3></td>
            <td>%{{ reportes.general_llamadas.datos.porcentaje_atendidas|floatformat:2 }} ({{reportes.general_llamadas.datos.atendidas}}/{{reportes.general_llamadas.datos.llamadas_procesadas}})</td>
          </tr>
          <tr>
            <td><h3>{% trans 'Porcentaje no atendidas' %}</h3></td>
            <td>%{{ reportes.general_llamadas.datos.porcentaje_no_atendidas|floatformat:2 }} ({{reportes.general_llamadas.datos.no_atendidas}}/{{reportes.general_llamadas.datos.llamadas_procesadas}})</td>
          </tr>
        </tbody>
     </table>
    </div>
    {% if reportes.general_llamadas.datos.llamadas_procesadas > 0 %}
      <div class="col-md-12">
        <h3>{% trans 'Porcentaje de llamadas según atención' %}</h3>
        <div class="graficos-avances">
          <figure>
            {{ graficos.general_llamadas.render_unicode|safe }}
          </figure>
        </div>
      </div>
    {% endif %}

  </div>
</div>

