{% load i18n %}
{% load static %}

<div class="table-responsive">
    <table class="table table-sm" id="table_datos_semana">
      <thead>
        <tr class="green_line">
          <th></th>
          <th scope="col">{% trans 'Semana' %}</th>
          <th scope="col">{% trans 'Total'%}</th>
          <th scope="col">{% trans 'Atendidas' %}</th>
          <th scope="col">{% trans 'No Atendidas' %}</th>
          <th scope="col">{% trans '% Atendidas' %}</th>
          <th scope="col">{% trans '% No Atendidas' %}</th>
          <th scope="col">{% trans 'Espera Media' %}</th>
          <th scope="col">{% trans 'Duración Media' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for semana, datos_semana in reportes.distribucion_llamada_saliente.datos.por_semana.items%}
          <tr>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_saliente_por_semana{{ forloop.counter }}" id="more_info"> + </button></td>
            <td>{{ semana }}</td>
            <td>{{ datos_semana.total }}</td>
            <td>{{ datos_semana.atendidas }}</td>
            <td>{{ datos_semana.no_atendidas }}</td>
            <td>{{ datos_semana.porcentaje_atendidas|floatformat:2 }}</td>
            <td>{{ datos_semana.porcentaje_no_atendidas|floatformat:2 }}</td>
            <td>{{ datos_semana.espera_media|floatformat:-2 }}</td>
            <td>{{ datos_semana.duracion_media|floatformat:-2 }}</td>
          </tr>
        {% empty %}
          <tr empty_table="empty">
            <td></td>
            <td colspan="9">{% trans 'No hay saliente manuales por semana' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% if reportes.distribucion_llamada_saliente.datos.por_semana.items %}
  <div class="col-md-12">
    <h3>{% trans 'Llamadas según atención' %}</h3>
    <div class="graficos-avances">
      <figure>
        {{ graficos.distribucion_llamada_saliente.por_semana.render_unicode|safe }}
      </figure>
    </div>
  </div>
{% endif %}


{% for semana, datos_semana in reportes.distribucion_llamada_saliente.datos.por_semana.items %}
<div class="modal" id="modal_saliente_por_semana{{ forloop.counter }}">
    {% include "distribucion/modal_llamadas.html" with llamadas=datos_semana.llamadas origin="semana" identificador=semana %}
</div>
{%endfor%}
