{% load i18n %}
{% load static %}

<div class="table-responsive">
    <table class="table table-sm" id="table_datos_campana">
      <thead>
        <tr class="green_line">
          <th></th>
          <th scope="col">{% trans 'ID' %}</th>
          <th scope="col">{% trans 'Nombre' %}</th>
          <th scope="col">{% trans 'Total'%}</th>
          <th scope="col">{% trans 'Atendidas' %}</th>
          <th scope="col">{% trans 'No Atendidas' %}</th>
          <th scope="col">{% trans '% Atendidas' %}</th>
          <th scope="col">{% trans '% No Atendidas' %}</th>
          <th scope="col">{% trans 'Espera Media' %}</th>
          <th scope="col">{% trans 'Duración Media' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for campana, datos_campana in reportes.distribucion_llamada_saliente.datos.por_campana.items%}
          <tr>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_saliente_por_campana{{ forloop.counter }}" id="more_info"> + </button></td>
            <td>{{ campana }}</td>
            <td>{{ datos_campana.nombre }}</td>
            <td>{{ datos_campana.total }}</td>
            <td>{{ datos_campana.atendidas }}</td>
            <td>{{ datos_campana.no_atendidas }}</td>
            <td>{{ datos_campana.porcentaje_atendidas|floatformat:2 }}</td>
            <td>{{ datos_campana.porcentaje_no_atendidas|floatformat:2 }}</td>
            <td>{{ datos_campana.espera_media|floatformat:-2 }}</td>
            <td>{{ datos_campana.duracion_media|floatformat:-2 }}</td>
          </tr>
        {% empty %}
          <tr empty_table="empty">
            <td></td>
            <td colspan="9">{% trans 'No hay saliente manuales por campaña' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% if reportes.distribucion_llamada_saliente.datos.por_campana.items %}
  <div class="col-md-12">
    <h3>{% trans 'Llamadas según atención' %}</h3>
    <div class="graficos-avances">
      <figure>
        {{ graficos.distribucion_llamada_saliente.por_campana.render_unicode|safe }}
      </figure>
    </div>
  </div>
{% endif %}


{% for campana, datos_campana in reportes.distribucion_llamada_saliente.datos.por_campana.items %}
<div class="modal" id="modal_saliente_por_campana{{ forloop.counter }}">
    {% include "distribucion/modal_llamadas.html" with llamadas=datos_campana.llamadas origin="campana" identificador=campana %}
</div>
{%endfor%}
