{% load i18n %}
{% load static %}
<div class="container" id="padding_container">
  <div class="row">
      <div class="col-md-4">
        <h1>{% trans 'Salientes manuales por ' %}</h1>
      </div>
      <div class="col-md-7">
          <button type="button" id="campana" href="javascript:void(0)" class="btn btn-primary">{% trans 'Campaña' %}</button>
          <button type="button" id="rango_horario" href="javascript:void(0)" class="btn btn-outline-primary">{% trans 'Rango Horario' %}</button>
          <button type="button" id="mes" href="javascript:void(0)" class="btn btn-outline-primary">{% trans 'Mes' %}</button>
          <button type="button" id="semana" href="javascript:void(0)" class="btn btn-outline-primary">{% trans 'Semana' %}</button>
          <button type="button" id="dia" href="javascript:void(0)" class="btn btn-outline-primary">{% trans 'Día' %}</button>
          <button type="button" id="horario" href="javascript:void(0)" class="btn btn-outline-primary">{% trans 'Hora' %}</button>
      </div>
  </div>

</div>


<div id="content_campana"> {% include 'distribucion/saliente_por_campana.html'%}</div>
<div id="content_rango_horario" class="hidden">{% include 'distribucion/saliente_por_rango_horario.html' %}</div>
<div id="content_mes" class="hidden">{% include 'distribucion/saliente_por_mes.html'%}</div>
<div id="content_semana" class="hidden">{% include 'distribucion/saliente_por_semana.html'%}</div>
<div id="content_dia" class="hidden">{% include 'distribucion/saliente_por_dia.html'%}</div>
<div id="content_horario" class="hidden">{% include 'distribucion/saliente_por_hora.html'%}</div>
