{% load i18n %}
{% load static %}

<div class="table-responsive">
    <table class="table table-sm" id="table_datos_hora">
      <thead>
        <tr class="green_line">
          <th></th>
          <th scope="col">{% trans 'Hora' %}</th>
          <th scope="col">{% trans 'Total'%}</th>
          <th scope="col">{% trans 'Atendidas' %}</th>
          <th scope="col">{% trans 'No Atendidas' %}</th>
          <th scope="col">{% trans '% Atendidas' %}</th>
          <th scope="col">{% trans '% No Atendidas' %}</th>
          <th scope="col">{% trans 'Espera Media' %}</th>
          <th scope="col">{% trans 'Duración Media' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for hora, datos_hora in reportes.distribucion_llamada_saliente.datos.por_hora.items%}
          <tr>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_saliente_por_hora{{ forloop.counter }}" id="more_info"> + </button></td>
            <td>{{ hora }}</td>
            <td>{{ datos_hora.total }}</td>
            <td>{{ datos_hora.atendidas }}</td>
            <td>{{ datos_hora.no_atendidas }}</td>
            <td>{{ datos_hora.porcentaje_atendidas|floatformat:2 }}</td>
            <td>{{ datos_hora.porcentaje_no_atendidas|floatformat:2 }}</td>
            <td>{{ datos_hora.espera_media|floatformat:-2 }}</td>
            <td>{{ datos_hora.duracion_media|floatformat:-2 }}</td>
          </tr>
        {% empty %}
          <tr empty_table="empty">
            <td></td>
            <td colspan="8">{% trans 'No hay saliente manuales por hora' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% if reportes.distribucion_llamada_saliente.datos.por_hora.items %}
  <div class="col-md-12">
    <h3>{% trans 'Llamadas según atención' %}</h3>
    <div class="graficos-avances">
      <figure>
        {{ graficos.distribucion_llamada_saliente.por_hora.render_unicode|safe }}
      </figure>
    </div>
  </div>
{% endif %}


{% for hora, datos_hora in reportes.distribucion_llamada_saliente.datos.por_hora.items %}
<div class="modal" id="modal_saliente_por_hora{{ forloop.counter }}">
    {% include "distribucion/modal_llamadas.html" with llamadas=datos_hora.llamadas origin="hora" identificador=hora %}
</div>
{%endfor%}
