{% load i18n %}

{% load static %}

<div class="container" style="padding-left:0;">
    <div class="row">
        <div class="col-md-6">
            <div class="table">
                <h1>{% trans ' Llamadas Sin Conexión por agente' %}</h1>
                <table class="table table-sm" id="table_sin_conexion_agente">
                    <thead>
                        <tr class="green_line">
                            <th>{% trans 'ID'%}</th>
                            <th>{% trans 'Nombre'%}</th>
                            <th>{% trans 'Cantidad'%}</th>
                            <th>{% trans 'Porcentaje'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agente, detalles_agente in reportes.no_atendidas_por_agente_o_campana.datos.por_agente.items %}
                            <tr>
                                <td>{{ agente }}</td>
                                <td>{{ detalles_agente.nombre }}</td>
                                <td>{{ detalles_agente.cantidad }}</td>
                                <td>%{{ detalles_agente.porcentaje|floatformat:2 }}</td>
                            </tr>
                        {% empty %}
                            <tr empty_table="empty">
                                <td colspan="4">{% trans 'No hay llamadas no atendidas por agente' %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>     
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table">
                <h1>{% trans ' Llamadas Sin Conexión por campaña' %}</h1>
                <table class="table table-sm" id="table_sin_conexion_campana">
                    <thead>
                        <tr class="green_line">
                            <th>{% trans 'ID' %}</th>
                            <th>{% trans 'Nombre'%}</th>
                            <th>{% trans 'Cantidad'%}</th>
                            <th>{% trans 'Porcentaje'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campana, detalles_campana in reportes.no_atendidas_por_agente_o_campana.datos.por_campana.items %}
                            <tr>
                                <td>{{ campana }}</td>
                                <td>{{ detalles_campana.nombre }}</td>
                                <td>{{ detalles_campana.cantidad }}</td>
                                <td>%{{ detalles_campana.porcentaje|floatformat:2 }}</td>
                            </tr>
                        {% empty %}
                            <tr empty_table="empty">
                                <td colspan="4">{% trans 'No hay llamadas no atendidas por campaña' %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>     
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if reportes.no_atendidas_por_agente_o_campana.datos.por_agente.items %}
              <h3>{% trans 'Llamadas sin conexión por agente' %}</h3>
              <div class="graficos-avances">
                <figure>
                  {{ graficos.no_atendidas_por_agente.render_unicode|safe }}
                </figure>
              </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if reportes.general_no_atendidas.datos.llamadas_no_atendidas > 0 %}
              <h3>{% trans 'Llamadas sin conexión por campaña' %}</h3>
              <div class="graficos-avances">
                <figure>
                  {{ graficos.no_atendidas_por_campana.render_unicode|safe }}
                </figure>
              </div>
            {% endif %}
        </div>
    </div>

</div>