
#cursor{
	cursor: pointer;
}

#padding_container{
	padding-bottom: 1%;
}

.green_line{
	border-top: 2px solid #80B13A;
}

.grey_line{
    border-top: 2px solid #607d8b;
}

#more_info{
	padding: 1px 6px;
}

#modal_width{
	max-width: 80%;
}
.modal_title{
	padding: 10px;
}
.table_maxwidth{
	display:block; 
	max-width:1024px;
}

#tooltip{
	padding: 0px 6px;
	margin: 5px;
}

.btn-primary:disabled{
	background-color: #9FD84E;
    border-color: #8FC641;
    opacity: 100;
}