{% load i18n %}

{% load static %}

<div class="container">
    <div class="row">
        <h1>{% trans 'Nivel de Servicio' %}</h1>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-sm" id="table_nivel_servicio">
              <thead>
                <tr class="green_line">
                  <th>{% trans 'Atendida' %}</th>
                  <th>{% trans 'Cantidad'%}</th>
                  <th>{% trans 'Delta' %}</th>
                  <th>{% trans 'Porcentaje' %}</th>
                </tr>
              </thead>
              <tbody>
                {% trans "Dentro de " as dentro %}
                {% trans " segundos" as segundos %}
                {% for rango in reportes.nivel_atendidas.datos.por_rango%}
                <tr>
                    <td><div>{{ dentro }} {{ rango.hasta }} {{ segundos }}</td>
                    <td>{{ rango.cantidad }}</td>
                    <td>{{ rango.delta }}</td>
                    <td>%{{ rango.porcentaje|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>{% trans 'Total' %}</th>
                    <td>{{reportes.nivel_atendidas.datos.total}}</td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
            </table>            
        </div>
    </div>
    <div class="col-md-12">
      <h3>{% trans 'Nivel de servicio' %}</h3>
      <div class="graficos-avances">
        <figure>
          {{ graficos.nivel_de_servicio.render_unicode|safe }}
        </figure>
      </div>
    </div>

</div>